// Wrap all of our styles inside of the editor DIV to ensure that we don't
// Override CMS display styles, and to make our code more specific than
// default editor block styles
div.editor-styles-wrapper {

    // Import our variables
    @import "assets/src/scss/setup/font-families.scss";
    @import "assets/src/scss/setup/colours.scss";
    @import "assets/src/scss/setup/layout.scss";
    @import "assets/src/scss/setup/mixins.scss";
    @import "assets/src/scss/setup/font-sizes.scss";
    @import "assets/src/scss/setup/fonts.scss";

    // Import the element styles, e.g. buttons or post cards
    @import "assets/src/scss/elements/content.scss";

    // Import our block styles
    @import "assets/src/scss/block/hero-image.scss";

    // Import any general theme rules
    @import "assets/src/scss/theme/buttons.scss";
    @import "assets/src/scss/theme/header.scss";
    @import "assets/src/scss/theme/mobile-menu.scss";

    div[class^="hero-image-"] {
        max-height: 800px;

        .container {
            height: auto;

            &:before,
            &:after {
                height: auto;
            }
        }
    }

}

// Post title width
.editor-post-title__block.wp-block {
	max-width: 1200px;
}

// Main column width
.wp-block {
    max-width: 1200px;
}

// Wide and Full column width
.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
	max-width: none;
}
