// Generic content classes, used to allow us to add consistent blocks of
// content anywhere within our project.
.content,
.content--md,
.content--lg {
    // Include the general body font-sizes
    @include font-size( $content-font-size );

    // If a heading tag is used within the content, add spacing and consistent
    // font sizes regardless of the tag chosen.
    h1, h2, h3, h4, h5, h6 {
        margin: $content-heading-margin;
        @include font-size($content-heading-size);
    }

    // Paragraph tag spacing
    p {
        margin: 0 0 20px;

        &:last-child {
            margin: 0;
        }
    }

    // Anchor tag styles
    a {
        position: relative;
        display: inline-block;
        color: $link-color;
        @include transition(300ms all);
        text-decoration: none;

        &:hover {
            color: $link-hover-color;
        }
    }

    // List style rules, a general tidy up of default unordered list display
    ul {
        margin: 0;
        padding-left: 16px;
    }

    // Add spacing between list items
    li {
        display: inline-block;
        margin: 0 0 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Larger content mofidier
.content--md {
    @include font-size( $content-font-size-md );
}

// Largest content modifier
.content--lg {
    @include font-size( $content-font-size-lg );
}
